.Toast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 3rem;
}
.Toast > div {
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.Toast > div h2 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dim);
}
.Toast > div p {
  font-size: 0.8rem;
}
