.Toast {
  width: 100%;
  margin-block: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: var(--radius);
  border: 0.25rem solid var(--red-opaque);
}
.Toast.success {
  border: 0.25rem solid var(--green-opaque);
}
.Toast.warning {
  border: 0.25rem solid var(--yellow-opaque);
}
.Toast.error {
  border: 0.25rem solid var(--red-opaque);
}
.Toast h2 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.Toast p {
  font-size: 0.8rem;
  color: var(--dim);
}
.Toast > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.Toast > div > svg.success {
  fill: var(--green);
}
.Toast > div > svg.warning {
  fill: var(--yellow);
}
.Toast > div > svg.error {
  fill: var(--red);
}
